[mysqld]
#user = root
user = TO_REPLACE_MYSQL_USER
password = TO_REPLACE_MYSQL_PWD
bind-address = 0.0.0.0
port = TO_REPLACE_MYSQL_PORT
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
skip-networking = false
skip-name-resolve
